In [2]:
import pandas as pd
import numpy as np

In [11]:
itemIDs = [676,762,774,775
,786,818,823,829,833,941
,942,944,993,1003
,1044,1536,1725,3066,3341,3352
,3354,3490,3744
,5753,5810,5811,5812,14511,220045,220048,220088
,220210,220218,220224,220227,220228
,220235,220274,220546,223762
,223830,223834,226751]

In [12]:
len(itemIDs)

43

In [6]:
# Create an empty csv file and write the first parquet file with headers
with open('NewFilteredEvents.csv','w') as csv_file:
    print('Reading file 1')
    df = pd.read_csv('0_Chunk.csv')
    df.to_csv(csv_file, index=False)
    print('0_Chunk.csv File Added \n')
    csv_file.close()

# create your file names and append to an empty list to look for in the current directory
files = []
for i in range(1,67):
    files.append(f'{i}_Chunk.csv')

# open files and append to csv_file.csv
for f in files:
    print(f'Reading {f}')
    df = pd.read_csv(f)
    with open('NewFilteredEvents.csv','a') as file:
        df.to_csv(file, header=False, index=False)
        print(f'{f} appended to NewFilteredEvents.csv\n')

Reading file 1
0_Chunk.csv File Added

Reading 1_Chunk.csv
1_Chunk.csv appended to NewFilteredEvents.csv

Reading 2_Chunk.csv
2_Chunk.csv appended to NewFilteredEvents.csv

Reading 3_Chunk.csv
3_Chunk.csv appended to NewFilteredEvents.csv

Reading 4_Chunk.csv
4_Chunk.csv appended to NewFilteredEvents.csv

Reading 5_Chunk.csv
5_Chunk.csv appended to NewFilteredEvents.csv

Reading 6_Chunk.csv

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

6_Chunk.csv appended to NewFilteredEvents.csv

Reading 7_Chunk.csv
7_Chunk.csv appended to NewFilteredEvents.csv

Reading 8_Chunk.csv
8_Chunk.csv appended to NewFilteredEvents.csv

Reading 9_Chunk.csv
9_Chunk.csv appended to NewFilteredEvents.csv

Reading 10_Chunk.csv
10_Chunk.csv appended to NewFilteredEvents.csv

Reading 11_Chunk.csv
11_Chunk.csv appended to NewFilteredEvents.csv

Reading 12_Chunk.csv
12_Chunk.csv appended to NewFilteredEvents.csv

Reading 13_Chunk.csv
13_Chunk.csv appended to NewFilteredEvents.csv

Reading 14_Chunk.csv
14_Chunk.csv appended to NewFilteredEvents.csv

Reading 15_Chunk.csv
15_Chunk.csv appended to NewFilteredEvents.csv

Reading 16_Chunk.csv
16_Chunk.csv appended to NewFilteredEvents.csv

Reading 17_Chunk.csv
17_Chunk.csv appended to NewFilteredEvents.csv

Reading 18_Chunk.csv
18_Chunk.csv appended to NewFilteredEvents.csv

Reading 19_Chunk.csv
19_Chunk.csv appended to NewFilteredEvents.csv

Reading 20_Chunk.csv
20_Chunk.csv appended to NewFilteredEvents.csv

Reading 21_Chunk.csv
21_Chunk.csv appended to NewFilteredEvents.csv

Reading 22_Chunk.csv
22_Chunk.csv appended to NewFilteredEvents.csv

Reading 23_Chunk.csv
23_Chunk.csv appended to NewFilteredEvents.csv

Reading 24_Chunk.csv
24_Chunk.csv appended to NewFilteredEvents.csv

Reading 25_Chunk.csv
25_Chunk.csv appended to NewFilteredEvents.csv

Reading 26_Chunk.csv
26_Chunk.csv appended to NewFilteredEvents.csv

Reading 27_Chunk.csv
27_Chunk.csv appended to NewFilteredEvents.csv

Reading 28_Chunk.csv
28_Chunk.csv appended to NewFilteredEvents.csv

Reading 29_Chunk.csv
29_Chunk.csv appended to NewFilteredEvents.csv

Reading 30_Chunk.csv
30_Chunk.csv appended to NewFilteredEvents.csv

Reading 31_Chunk.csv
31_Chunk.csv appended to NewFilteredEvents.csv

Reading 32_Chunk.csv
32_Chunk.csv appended to NewFilteredEvents.csv

Reading 33_Chunk.csv
33_Chunk.csv appended to NewFilteredEvents.csv

Reading 34_Chunk.csv
34_Chunk.csv appended to NewFilteredEvents.csv

Reading 35_Chunk.csv
35_Chunk.csv appended to NewFilteredEvents.csv

Reading 36_Chunk.csv
36_Chunk.csv appended to NewFilteredEvents.csv

Reading 37_Chunk.csv
37_Chunk.csv appended to NewFilteredEvents.csv

Reading 38_Chunk.csv
38_Chunk.csv appended to NewFilteredEvents.csv

Reading 39_Chunk.csv
39_Chunk.csv appended to NewFilteredEvents.csv

Reading 40_Chunk.csv
40_Chunk.csv appended to NewFilteredEvents.csv

Reading 41_Chunk.csv
41_Chunk.csv appended to NewFilteredEvents.csv

Reading 42_Chunk.csv
42_Chunk.csv appended to NewFilteredEvents.csv

Reading 43_Chunk.csv
43_Chunk.csv appended to NewFilteredEvents.csv

Reading 44_Chunk.csv
44_Chunk.csv appended to NewFilteredEvents.csv

Reading 45_Chunk.csv
45_Chunk.csv appended to NewFilteredEvents.csv

Reading 46_Chunk.csv
46_Chunk.csv appended to NewFilteredEvents.csv

Reading 47_Chunk.csv
47_Chunk.csv appended to NewFilteredEvents.csv

Reading 48_Chunk.csv
48_Chunk.csv appended to NewFilteredEvents.csv

Reading 49_Chunk.csv
49_Chunk.csv appended to NewFilteredEvents.csv

Reading 50_Chunk.csv
50_Chunk.csv appended to NewFilteredEvents.csv

Reading 51_Chunk.csv
51_Chunk.csv appended to NewFilteredEvents.csv

Reading 52_Chunk.csv
52_Chunk.csv appended to NewFilteredEvents.csv

Reading 53_Chunk.csv
53_Chunk.csv appended to NewFilteredEvents.csv

Reading 54_Chunk.csv
54_Chunk.csv appended to NewFilteredEvents.csv

Reading 55_Chunk.csv
55_Chunk.csv appended to NewFilteredEvents.csv

Reading 56_Chunk.csv
56_Chunk.csv appended to NewFilteredEvents.csv

Reading 57_Chunk.csv
57_Chunk.csv appended to NewFilteredEvents.csv

Reading 58_Chunk.csv
58_Chunk.csv appended to NewFilteredEvents.csv

Reading 59_Chunk.csv
59_Chunk.csv appended to NewFilteredEvents.csv

Reading 60_Chunk.csv
60_Chunk.csv appended to NewFilteredEvents.csv

Reading 61_Chunk.csv
61_Chunk.csv appended to NewFilteredEvents.csv

Reading 62_Chunk.csv
62_Chunk.csv appended to NewFilteredEvents.csv

Reading 63_Chunk.csv
63_Chunk.csv appended to NewFilteredEvents.csv

Reading 64_Chunk.csv
64_Chunk.csv appended to NewFilteredEvents.csv

Reading 65_Chunk.csv
65_Chunk.csv appended to NewFilteredEvents.csv

Reading 66_Chunk.csv
66_Chunk.csv appended to NewFilteredEvents.csv

In [25]:
del df

## Reading NEW Filtered File

In [7]:
df = pd.read_csv('NewFilteredEvents.csv')

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.shape

(9479903, 5)

In [10]:
a = df[df.SUBJECT_ID == 3 & ]

In [12]:
a

         SUBJECT_ID  HADM_ID  ICUSTAY_ID  ITEMID               VALUE
6176706           3   145834    211552.0     676  37.400001525878906
6176707           3   145834    211552.0     823                  74
6176708           3   145834    211552.0     676                  37
6176709           3   145834    211552.0     676  36.900001525878906
6176769           3   145834    211552.0     823                  67
6176770           3   145834    211552.0     676  36.700000762939453
6176771           3   145834    211552.0     676  36.400001525878906
6176844           3   145834    211552.0     676  36.900001525878906
6176865           3   145834    211552.0     676                 NaN
6176884           3   145834    211552.0     818                   5
6176885           3   145834    211552.0     829                 3.9
6176953           3   145834    211552.0     823                  68
6176954           3   145834    211552.0     829                 4.3
6176955           3   145834    211552.0     833  3.1400001049041748
6176956           3   145834    211552.0     818                 1.3
6176957           3   145834    211552.0     676  37.299999237060547
6176958           3   145834    211552.0     676                  37
6177034           3   145834    211552.0     676  37.400001525878906
6177035           3   145834    211552.0     676  37.599998474121094
6177036           3   145834    211552.0     829                 4.9
6177037           3   145834    211552.0     833  3.4300000667572021
6177038           3   145834    211552.0     676                37.5
6177039           3   145834    211552.0     823                  58
6177069           3   145834    211552.0     676  36.200000762939453
6177102           3   145834    211552.0     676  36.900001525878906
6177103           3   145834    211552.0     676  36.799999237060547
6177104           3   145834    211552.0     676  36.900001525878906
6177160           3   145834    211552.0     676                37.5
6177161           3   145834    211552.0     676  36.599998474121094
6177197           3   145834    211552.0     676                36.5
...             ...      ...         ...     ...                 ...
6178586           3   145834    211552.0     676  36.900001525878906
6178611           3   145834    211552.0     676                  37
6178612           3   145834    211552.0     823                  60
6178643           3   145834    211552.0     676  37.400001525878906
6178644           3   145834    211552.0     676  37.400001525878906
6178645           3   145834    211552.0     676  37.299999237060547
6178646           3   145834    211552.0     786  7.0999999046325684
6178647           3   145834    211552.0     829                 4.1
6178648           3   145834    211552.0     676  36.700000762939453
6178665           3   145834    211552.0     786  6.6999998092651367
6178666           3   145834    211552.0     829                 4.4
6178667           3   145834    211552.0     833  3.2999999523162842
6178668           3   145834    211552.0     676  36.599998474121094
6178669           3   145834    211552.0     676                37.5
6178701           3   145834    211552.0     676  36.799999237060547
6178721           3   145834    211552.0     676  37.099998474121094
6178722           3   145834    211552.0     676  37.099998474121094
6178723           3   145834    211552.0     676  36.900001525878906
6178724           3   145834    211552.0     823                  68
6178751           3   145834    211552.0     676  36.799999237060547
6178752           3   145834    211552.0     676  36.900001525878906
6178753           3   145834    211552.0     786  7.9000000953674316
6178754           3   145834    211552.0     829                 3.9
6178755           3   145834    211552.0     833  3.4000000953674316
6190362           3   145834    211552.0     676  37.299999237060547
6190363           3   145834    211552.0     676  37.400001525878906
6190364           3   145834    211552.0     823                  60
6191645           3   145834    211552.0     676  36.799999237060547
6191646           3   145834    211552.0     676  36.599998474121094
6191647           3   145834    211552.0     676  36.400001525878906

[175 rows x 5 columns]

### Reading the Filtered File

In [3]:
df = pd.read_csv('AllFilteredEvents.csv')

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (8,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.tail(50)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
31244596,34303562,99999,113369,246512.0,220045,31/12/2117 14:00,31/12/2117 14:45,19169.0,98,98.0,bpm,0.0,0.0,NaN,NaN
31244597,34303570,99999,113369,246512.0,220045,31/12/2117 15:00,31/12/2117 15:05,21189.0,94,94.0,bpm,0.0,0.0,NaN,NaN
31244598,34303576,99999,113369,246512.0,220045,31/12/2117 16:00,31/12/2117 16:11,21189.0,96,96.0,bpm,0.0,0.0,NaN,NaN
31244599,34303586,99999,113369,246512.0,220045,31/12/2117 17:00,31/12/2117 17:12,21189.0,99,99.0,bpm,0.0,0.0,NaN,NaN
31244600,34303721,99999,113369,246512.0,220045,01/01/2118 9:00,01/01/2118 9:35,20685.0,91,91.0,bpm,0.0,0.0,NaN,NaN
31244601,34303727,99999,113369,246512.0,220045,01/01/2118 10:00,01/01/2118 10:28,19169.0,83,83.0,bpm,0.0,0.0,NaN,NaN
31244602,34303734,99999,113369,246512.0,220045,01/01/2118 11:00,01/01/2118 11:06,20685.0,78,78.0,bpm,0.0,0.0,NaN,NaN
31244603,34303740,99999,113369,246512.0,220045,01/01/2118 12:00,01/01/2118 12:30,20685.0,82,82.0,bpm,0.0,0.0,NaN,NaN
31244604,34303747,99999,113369,246512.0,220045,01/01/2118 13:00,01/01/2118 13:02,20685.0,86,86.0,bpm,0.0,0.0,NaN,NaN
31244605,34303525,99999,113369,246512.0,220045,31/12/2117 11:52,31/12/2117 12:18,21189.0,105,105.0,bpm,0.0,0.0,NaN,NaN
31244606,34303652,99999,113369,246512.0,220045,01/01/2118 2:00,01/01/2118 2:17,19907.0,95,95.0,bpm,0.0,0.0,NaN,NaN
31244607,34303658,99999,113369,246512.0,220045,01/01/2118 3:00,01/01/2118 3:01,19907.0,93,93.0,bpm,0.0,0.0,NaN,NaN
31244608,34303664,99999,113369,246512.0,220045,01/01/2118 4:00,01/01/2118 4:12,19907.0,92,92.0,bpm,0.0,0.0,NaN,NaN
31244609,34303670,99999,113369,246512.0,220045,01/01/2118 5:00,01/01/2118 5:07,19907.0,89,89.0,bpm,0.0,0.0,NaN,NaN
31244610,34303693,99999,113369,246512.0,220045,01/01/2118 6:00,01/01/2118 6:04,19907.0,98,98.0,bpm,0.0,0.0,NaN,NaN
31244611,34303699,99999,113369,246512.0,220045,01/01/2118 7:00,01/01/2118 7:03,19907.0,101,101.0,bpm,0.0,0.0,NaN,NaN
31244612,34303705,99999,113369,246512.0,220045,01/01/2118 8:00,01/01/2118 8:06,20685.0,98,98.0,bpm,0.0,0.0,NaN,NaN
31244613,34303597,99999,113369,246512.0,220210,31/12/2117 18:00,31/12/2117 18:45,21189.0,20,20.0,insp/min,0.0,0.0,NaN,NaN
31244614,34303603,99999,113369,246512.0,220210,31/12/2117 19:00,31/12/2117 20:07,19907.0,24,24.0,insp/min,0.0,0.0,NaN,NaN
31244615,34303611,99999,113369,246512.0,220210,31/12/2117 20:00,31/12/2117 20:07,19907.0,19,19.0,insp/min,0.0,0.0,NaN,NaN
31244616,34303625,99999,113369,246512.0,220210,31/12/2117 21:00,31/12/2117 21:13,19907.0,18,18.0,insp/min,0.0,0.0,NaN,NaN
31244617,34303631,99999,113369,246512.0,220210,31/12/2117 22:00,31/12/2117 22:06,19907.0,13,13.0,insp/min,0.0,0.0,NaN,NaN
31244618,34303638,99999,113369,246512.0,220210,31/12/2117 23:00,31/12/2117 23:06,19907.0,26,26.0,insp/min,0.0,0.0,NaN,NaN
31244619,34303641,99999,113369,246512.0,220210,01/01/2118 0:00,01/01/2118 0:01,19907.0,21,21.0,insp/min,0.0,0.0,NaN,NaN
31244620,34303650,99999,113369,246512.0,220210,01/01/2118 1:00,01/01/2118 1:19,19907.0,20,20.0,insp/min,0.0,0.0,NaN,NaN
31244621,34303537,99999,113369,246512.0,220210,31/12/2117 12:00,31/12/2117 12:17,21189.0,16,16.0,insp/min,0.0,0.0,NaN,NaN
31244622,34303548,99999,113369,246512.0,220210,31/12/2117 12:17,31/12/2117 12:18,21189.0,16,16.0,insp/min,0.0,0.0,NaN,NaN
31244623,34303560,99999,113369,246512.0,220210,31/12/2117 13:00,31/12/2117 13:10,21189.0,15,15.0,insp/min,0.0,0.0,NaN,NaN
31244624,34303566,99999,113369,246512.0,220210,31/12/2117 14:00,31/12/2117 14:45,19169.0,18,18.0,insp/min,0.0,0.0,NaN,NaN
31244625,34303574,99999,113369,246512.0,220210,31/12/2117 15:00,31/12/2117 15:05,21189.0,18,18.0,insp/min,0.0,0.0,NaN,NaN
31244626,34303580,99999,113369,246512.0,220210,31/12/2117 16:00,31/12/2117 16:11,21189.0,19,19.0,insp/min,0.0,0.0,NaN,NaN
31244627,34303590,99999,113369,246512.0,220210,31/12/2117 17:00,31/12/2117 17:12,21189.0,20,20.0,insp/min,0.0,0.0,NaN,NaN
31244628,34303725,99999,113369,246512.0,220210,01/01/2118 9:00,01/01/2118 9:35,20685.0,19,19.0,insp/min,0.0,0.0,NaN,NaN
31244629,34303731,99999,113369,246512.0,220210,01/01/2118 10:00,01/01/2118 10:28,19169.0,20,20.0,insp/min,0.0,0.0,NaN,NaN
31244630,34303738,99999,113369,246512.0,220210,01/01/2118 11:00,01/01/2118 11:06,20685.0,16,16.0,insp/min,0.0,0.0,NaN,NaN
31244631,34303744,99999,113369,246512.0,220210,01/01/2118 12:00,01/01/2118 12:30,20685.0,17,17.0,insp/min,0.0,0.0,NaN,NaN
31244632,34303751,99999,113369,246512.0,220210,01/01/2118 13:00,01/01/2118 13:02,20685.0,15,15.0,insp/min,0.0,0.0,NaN,NaN
31244633,34303526,99999,113369,246512.0,220210,31/12/2117 11:52,31/12/2117 12:18,21189.0,15,15.0,insp/min,0.0,0.0,NaN,NaN
31244634,34303656,99999,113369,246512.0,220210,01/01/2118 2:00,01/01/2118 2:17,19907.0,19,19.0,insp/min,0.0,0.0,NaN,NaN
31244635,34303662,99999,113369,246512.0,220210,01/01/2118 3:00,01/01/2118 3:01,19907.0,19,19.0,insp/min,0.0,0.0,NaN,NaN
31244636,34303668,99999,113369,246512.0,220210,01/01/2118 4:00,01/01/2118 4:12,19907.0,20,20.0,insp/min,0.0,0.0,NaN,NaN
31244637,34303671,99999,113369,246512.0,220210,01/01/2118 5:00,01/01/2118 5:07,19907.0,14,14.0,insp/min,0.0,0.0,NaN,NaN
31244638,34303697,99999,113369,246512.0,220210,01/01/2118 6:00,01/01/2118 6:04,19907.0,23,23.0,insp/min,0.0,0.0,NaN,NaN
31244639,34303703,99999,113369,246512.0,220210,01/01/2118 7:00,01/01/2118 7:03,19907.0,17,17.0,insp/min,0.0,0.0,NaN,NaN
31244640,34303709,99999,113369,246512.0,220210,01/01/2118 8:00,01/01/2118 8:06,20685.0,19,19.0,insp/min,0.0,0.0,NaN,NaN
31244641,34303678,99999,113369,246512.0,220228,01/01/2118 5:35,01/01/2118 5:52,20889.0,8.7,8.7,g/dl,1.0,0.0,NaN,NaN
31244642,34303680,99999,113369,246512.0,220546,01/01/2118 5:35,01/01/2118 5:52,20889.0,9.3,9.3,K/uL,0.0,0.0,NaN,NaN
31244643,34303554,99999,113369,246512.0,223834,31/12/2117 12:22,31/12/2117 12:23,21189.0,10,10.0,L/min,0.0,0.0,NaN,NaN
31244644,34303568,99999,113369,246512.0,223834,31/12/2117 14:00,31/12/2117 15:07,21189.0,10,10.0,L/min,0.0,0.0,NaN,NaN
31244645,34303582,99999,113369,246512.0,223834,31/12/2117 16:00,31/12/2117 16:35,21189.0,10,10.0,L/min,0.0,0.0,NaN,NaN

In [15]:
len(df.ITEMID.unique())

24

In [6]:
a.shape

(61, 15)

In [72]:
a.ITEMID.unique()

array([220045, 220210, 220228, 220546, 223834], dtype=int64)

In [28]:
df = df[df.ITEMID.isin(itemIDs)]

In [29]:
df.shape

(31244597, 15)

In [34]:
df.dtypes

SUBJECT_ID      int64
HADM_ID         int64
ICUSTAY_ID    float64
ITEMID          int64
VALUE          object
dtype: object

In [33]:
df = df[['SUBJECT_ID','HADM_ID','ICUSTAY_ID','ITEMID','VALUE']].groupby(['SUBJECT_ID','HADM_ID','ICUSTAY_ID','ITEMID']).mean()

DataError: No numeric types to aggregate

In [42]:
df['VALUE'] = pd.to_numeric(df['VALUE'], errors='coerce')

In [43]:
df.dtypes

ROW_ID            int64
SUBJECT_ID        int64
HADM_ID           int64
ICUSTAY_ID      float64
ITEMID            int64
CHARTTIME        object
STORETIME        object
CGID            float64
VALUE           float64
VALUENUM        float64
VALUEUOM         object
WARNING         float64
ERROR           float64
RESULTSTATUS     object
STOPPED          object
dtype: object

In [44]:
df = df[['SUBJECT_ID','HADM_ID','ICUSTAY_ID','ITEMID','VALUE']]

In [45]:
df.dtypes

SUBJECT_ID      int64
HADM_ID         int64
ICUSTAY_ID    float64
ITEMID          int64
VALUE         float64
dtype: object

In [49]:
df = df[df.VALUE.notnull()]

In [50]:
df.dtypes

SUBJECT_ID      int64
HADM_ID         int64
ICUSTAY_ID    float64
ITEMID          int64
VALUE         float64
dtype: object

In [51]:
df = df[['SUBJECT_ID','HADM_ID','ICUSTAY_ID','ITEMID','VALUE']].groupby(['SUBJECT_ID','HADM_ID','ICUSTAY_ID','ITEMID']).mean()

In [60]:
df = df.reset_index()

In [62]:
df.to_csv('Grouped.csv', index = False)