In [1]:
import pandas as pd

In [8]:
subIDs = list(pd.read_csv(r'D:\DataScience\ChartEventLookup\loopupData.csv')['subject_id'])

In [2]:
df = pd.read_csv('D:\DataScience\MimicDataset\LABEVENTS.csv')

In [9]:
df = df[(df.SUBJECT_ID.isin(subIDs))]

In [10]:
df.shape

(24182668, 9)

In [11]:
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal

In [12]:
df.to_csv('FilteredLabEvents.csv',index = False)

In [14]:
len(df.ITEMID.unique())

723

In [15]:
del df

## Read Lab Events and Filter only specific events

In [16]:
labIDs = list(pd.read_excel(r'D:\DataScience\LabIDs.xlsx')['LabID'])

In [17]:
len(labIDs)

66

In [21]:
df = pd.read_csv(r'D:\DataScience\Notebooks\FilteredLabEvents.csv')

In [22]:
df.shape

(24182668, 9)

In [23]:
df = df[df.ITEMID.isin(labIDs)]

In [24]:
df.shape

(10333761, 9)

In [25]:
df.to_csv('FinalLabEvents.csv',index = False)

In [26]:
del df

In [2]:
df = pd.read_csv(r'D:\DataScience\Notebooks\FinalLabEvents.csv')

In [3]:
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
2,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal
3,286,3,NaN,50812,2101-10-12 18:17:00,NOT INTUBATED,NaN,NaN,NaN
4,287,3,NaN,50813,2101-10-12 18:17:00,1.8,1.80,mmol/L,NaN

In [4]:
df.dtypes

ROW_ID          int64
SUBJECT_ID      int64
HADM_ID       float64
ITEMID          int64
CHARTTIME      object
VALUE          object
VALUENUM      float64
VALUEUOM       object
FLAG           object
dtype: object

In [5]:
df.VALUE = pd.to_numeric(df['VALUE'], errors='coerce')

In [6]:
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,284,3,NaN,50804,2101-10-12 18:17:00,22.00,22.00,mEq/L,NaN
2,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal
3,286,3,NaN,50812,2101-10-12 18:17:00,NaN,NaN,NaN,NaN
4,287,3,NaN,50813,2101-10-12 18:17:00,1.80,1.80,mmol/L,NaN

In [7]:
import numpy as np

df = df[np.isfinite(df['VALUE'])]

In [8]:
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,284,3,NaN,50804,2101-10-12 18:17:00,22.00,22.00,mEq/L,NaN
2,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal
4,287,3,NaN,50813,2101-10-12 18:17:00,1.80,1.80,mmol/L,NaN
5,288,3,NaN,50818,2101-10-12 18:17:00,33.00,33.00,mm Hg,NaN

In [9]:
labfeatures = pd.pivot_table(df,values= 'VALUE',
                     index=['SUBJECT_ID'], 
                     columns='ITEMID')

In [10]:
labfeatures = labfeatures.reset_index()

In [11]:
labfeatures.head()

ITEMID,SUBJECT_ID,50803,50804,50805,50806,50808,50809,50810,50811,50813,...,50983,51007,51010,51265,51279,51301,51351,51359,51375,51463
0,3,20.0,19.844444,NaN,108.4,1.090417,174.333333,30.173913,10.065217,2.841176,...,138.027027,10.3,NaN,260.031250,3.464687,12.584375,NaN,NaN,NaN,NaN
1,4,NaN,19.500000,NaN,NaN,NaN,100.000000,32.000000,10.500000,2.580000,...,133.750000,NaN,NaN,277.791667,3.396250,7.208333,NaN,NaN,NaN,NaN
2,6,NaN,21.200000,NaN,100.8,1.150000,144.400000,27.400000,9.080000,2.640000,...,137.093750,NaN,NaN,362.514286,3.529143,12.191429,NaN,NaN,NaN,NaN
3,9,NaN,24.571429,NaN,103.0,1.092857,167.500000,42.000000,14.000000,1.987500,...,134.300000,NaN,NaN,274.250000,4.503750,13.500000,NaN,NaN,NaN,NaN
4,11,NaN,25.000000,NaN,105.0,1.090000,94.000000,35.000000,11.800000,1.500000,...,139.214286,NaN,NaN,233.437500,4.172813,8.868750,NaN,NaN,NaN,NaN

In [13]:
labfeatures.dropna(axis=1, how='all',inplace=True)

In [22]:
labfeatures.shape

(31550, 60)

In [33]:
list(labfeatures.columns)

['SUBJECT_ID',
 50803,
 50804,
 50805,
 50806,
 50808,
 50809,
 50810,
 50811,
 50813,
 50814,
 50815,
 50816,
 50817,
 50818,
 50819,
 50820,
 50821,
 50822,
 50823,
 50824,
 50825,
 50826,
 50835,
 50836,
 50837,
 50838,
 50839,
 50840,
 50841,
 50842,
 50843,
 50844,
 50846,
 50847,
 50848,
 50849,
 50850,
 50851,
 50893,
 50902,
 50907,
 50912,
 50930,
 50931,
 50956,
 50957,
 50960,
 50971,
 50976,
 50983,
 51007,
 51010,
 51265,
 51279,
 51301,
 51351,
 51359,
 51375,
 51463]

In [82]:
labfeatures[51351].isna().sum()

29556

In [87]:
cols = [50805,50814,50815,50819,50823,50826,50835,50836,50837,50838,50839,50840,50841,
 50842,50843,50844,50846,50847,50848,50849,50850,50851,50907,50957,50976,51007,51010,51351]

In [88]:
labfeatures.drop(cols, axis=1, inplace=True)

## Averging the most performed diagnoses / procedures

In [92]:
labfeatures.fillna(labfeatures.mean(),inplace=True)

In [96]:
labfeatures.head(100)

ITEMID,SUBJECT_ID,50803,50804,50806,50808,50809,50810,50811,50813,50816,...,50956,50960,50971,50983,51265,51279,51301,51359,51375,51463
0,3,20.000000,19.844444,108.400000,1.090417,174.333333,30.173913,10.065217,2.841176,41.785714,...,37.000000,2.063636,4.316667,138.027027,260.031250,3.464687,12.584375,2.458333,10.822737,0.010559
1,4,23.890824,19.500000,104.694618,1.131080,100.000000,32.000000,10.500000,2.580000,40.000000,...,68.222222,1.823333,3.635417,133.750000,277.791667,3.396250,7.208333,2.458333,10.822737,0.010559
2,6,23.890824,21.200000,100.800000,1.150000,144.400000,27.400000,9.080000,2.640000,60.217901,...,71.168133,2.194444,4.906061,137.093750,362.514286,3.529143,12.191429,2.458333,10.822737,0.010559
3,9,23.890824,24.571429,103.000000,1.092857,167.500000,42.000000,14.000000,1.987500,57.272727,...,71.168133,2.287500,3.310000,134.300000,274.250000,4.503750,13.500000,2.458333,10.822737,0.010559
4,11,23.890824,25.000000,105.000000,1.090000,94.000000,35.000000,11.800000,1.500000,57.000000,...,71.168133,2.500000,3.907407,139.214286,233.437500,4.172813,8.868750,2.458333,10.822737,0.010559
5,12,10.000000,22.033333,113.000000,1.096000,150.200000,30.100000,10.000000,5.222222,50.000000,...,23.857143,2.061111,4.100000,138.500000,256.000000,4.079375,18.275000,2.458333,10.822737,0.010559
6,13,23.890824,23.846154,111.000000,1.132727,163.909091,29.000000,9.566667,1.200000,60.217901,...,18.000000,1.687500,4.255000,139.285714,268.590909,3.673810,14.061905,2.458333,10.822737,0.010559
7,18,23.890824,26.000000,104.694618,1.160000,333.000000,32.006374,10.652147,3.600000,60.217901,...,71.168133,1.940000,4.114286,138.571429,224.166667,5.058333,10.050000,2.458333,10.822737,0.010559
8,19,24.000000,24.000000,101.000000,1.200000,155.000000,44.000000,14.600000,1.950000,3.000000,...,22.000000,2.000000,4.475000,139.000000,213.666667,4.473333,10.966667,2.458333,10.822737,0.010559
9,21,23.890824,23.062500,100.000000,1.219231,104.666667,29.250000,9.725000,2.142857,62.571429,...,16.000000,1.927273,4.147917,139.363636,235.658537,3.355000,18.145000,2.458333,10.822737,0.010559
10,23,23.890824,24.600000,102.000000,1.131429,116.666667,32.142857,10.685714,3.700000,60.217901,...,71.168133,2.021429,3.828571,139.545455,158.846154,3.606667,10.608333,2.458333,10.822737,0.010559
11,24,23.890824,27.000000,104.694618,1.131080,145.143203,44.000000,14.700000,2.236554,60.217901,...,71.168133,2.025000,3.975000,140.000000,207.000000,4.503333,9.366667,2.458333,10.822737,0.010559
12,25,23.890824,25.500000,104.694618,1.140000,145.143203,30.000000,10.100000,1.400000,60.217901,...,71.168133,1.850000,3.950000,136.555556,192.625000,3.545714,10.571429,2.458333,10.822737,0.010559
13,26,23.890824,25.506826,104.694618,1.131080,145.143203,32.006374,10.652147,2.236554,60.217901,...,71.168133,1.950000,4.140000,137.625000,174.166667,3.636667,7.283333,2.458333,10.822737,0.010559
14,31,23.890824,27.625000,104.694618,1.100000,121.000000,32.006374,10.652147,1.533333,35.714286,...,18.000000,1.954545,4.176923,135.166667,191.818182,2.837000,11.720000,2.458333,10.822737,0.010559
15,34,25.000000,23.000000,104.000000,1.100000,116.000000,35.000000,11.800000,1.700000,100.000000,...,78.000000,2.116667,4.033333,141.000000,304.714286,3.840000,8.342857,2.458333,10.822737,0.010559
16,35,23.890824,27.923077,104.694618,1.152500,119.172414,24.875000,8.237500,2.236554,60.217901,...,71.168133,2.200000,4.246154,139.000000,107.500000,3.531000,12.600000,2.458333,10.822737,0.010559
17,36,23.890824,25.841270,104.900000,1.118500,117.767442,33.312500,11.106250,1.576000,64.333333,...,19.000000,2.087097,4.051220,137.710526,298.186047,3.788372,14.023256,2.458333,10.822737,0.010559
18,37,23.890824,34.000000,104.694618,1.131080,358.000000,30.000000,9.900000,1.900000,98.000000,...,71.168133,2.150000,4.042857,137.833333,295.375000,3.855000,14.312500,2.458333,10.822737,0.010559
19,38,23.890824,26.905660,109.000000,1.155000,121.900000,32.000000,10.633333,2.012500,45.142857,...,59.333333,1.845946,4.085366,138.675676,117.906250,3.172903,7.583871,2.458333,10.822737,0.010559
20,41,23.890824,29.041667,97.000000,1.125000,111.857143,30.500000,10.150000,1.160000,70.000000,...,46.000000,1.859259,4.362069,132.482759,394.103448,3.412069,17.693103,2.458333,10.822737,0.010559
21,42,23.890824,25.506826,104.694618,1.131080,145.143203,32.006374,10.652147,2.236554,60.217901,...,71.168133,2.085714,4.525000,138.333333,229.000000,3.572000,8.400000,2.458333,10.822737,0.010559
22,43,28.000000,25.357143,105.333333,1.095556,97.222222,34.142857,11.314286,1.322222,46.375000,...,18.000000,1.977778,4.360000,136.000000,247.083333,3.891818,11.745455,2.458333,10.822737,0.010559
23,44,30.000000,26.100000,104.694618,1.186250,144.125000,25.000000,8.380000,2.200000,60.217901,...,24.000000,2.011111,4.259524,139.289474,133.921053,3.581351,7.991892,2.458333,10.822737,0.000000
24,46,23.890824,25.506826,104.694618,1.131080,145.143203,32.006374,10.652147,2.236554,60.217901,...,18.500000,1.800000,3.516667,128.333333,274.000000,3.127143,3.042857,2.458333,10.822737,0.010559
25,52,23.890824,25.506826,104.694618,1.131080,145.143203,32.006374,10.652147,1.475000,60.217901,...,73.000000,1.766667,3.992157,133.519231,53.854545,2.511887,3.283019,2.458333,10.822737,0.010559
26,53,23.890824,25.506826,104.694618,1.131080,145.143203,32.006374,10.652147,2.236554,60.217901,...,71.168133,2.225000,4.216667,137.250000,257.500000,4.725000,10.150000,2.458333,10.822737,0.010559
27,56,23.890824,25.506826,104.694618,1.131080,145.143203,32.006374,10.652147,2.236554,60.217901,...,71.168133,1.933333,4.120000,134.000000,186.500000,3.330000,8.625000,2.458333,10.822737,0.010559
28,59,23.890824,25.506826,104.694618,1.131080,145.143203,32.006374,10.652147,1.000000,60.217901,...,18.000000,2.000000,4.260000,140.200000,188.300000,3.737000,4.950000,2.458333,10.822737,0.010559
29,61,23.890824,16.500000,104.694618,1.131080,145.143203,32.006374,10.652147,2.900000,60.217901,...,16.333333,1.913492,3.917692,137.791667,50.248705,3.058714,2.025926,2.458333,10.822737,0.010559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,144,23.890824,24.250000,101.500000,1.066667,170.666667,46.000000,15.300000,1.400000,70.000000,...,71.168133,1.922222,3.827273,139.909091,362.833333,3.935000,10.500000,2.458333,10.822737,0.000000
71,145,28.000000,22.968153,108.133333,1.141333,124.612903,29.181818,9.700000,2.104167,69.178571,...,32.187500,2.012903,3.973659,138.193069,266.956757,3.360843,13.457143,2.458333,10.822737,0.010559
72,147,23.890824,26.888889,108.000000,1.085000,122.250000,31.142857,10.371429,1.054545,46.250000,...,71.168133,1.644444,4.022222,140.333333,187.545455,3.314545,11.009091,2.458333,10.822737,0.010559
73,148,23.890824,27.550000,104.694618,1.130000,127.000000,27.000000,9.000000,2.012500,52.727273,...,71.168133,1.955556,3.912821,142.552632,36.943662,2.980909,5.847727,2.458333,10.822737,0.010559
74,149,23.890824,26.000000,104.694618,1.131080,141.000000,28.000000,9.200000,1.100000,60.217901,...,11.000000,2.060000,3.792308,140.222222,170.363636,3.918000,13.400000,2.458333,10.822737,0.010559
75,150,23.890824,25.506826,104.694618,1.131080,145.143203,32.006374,10.652147,2.236554,60.217901,...,12.000000,2.075000,4.100000,136.428571,240.400000,3.342000,6.680000,2.458333,10.822737,0.010559
76,151,23.890824,24.000000,104.694618,1.120769,128.181818,30.444444,10.166667,2.236554,100.000000,...,71.168133,2.271429,4.280952,133.812500,152.352941,3.370000,11.366667,2.458333,10.822737,0.010559
77,152,26.000000,26.000000,104.333333,1.139000,127.416667,32.222222,10.744444,2.066667,100.000000,...,28.000000,1.982609,3.757692,139.520000,207.875000,3.589091,10.291667,2.458333,10.822737,0.010559
78,154,23.890824,23.857143,104.694618,1.083000,138.909091,27.500000,9.166667,2.236554,75.000000,...,71.168133,1.800000,4.264706,140.384615,177.500000,3.518462,8.053846,2.458333,10.822737,0.010559
79,156,21.000000,26.515924,109.000000,1.163291,149.505618,31.000000,10.315789,3.911905,65.263158,...,20.666667,2.362712,4.482812,142.522388,264.907895,3.656429,12.497143,2.458333,10.822737,0.010559
80,157,26.000000,21.133333,107.500000,1.140000,111.333333,31.333333,10.466667,2.693333,63.600000,...,21.000000,2.096296,3.887500,138.870968,171.300000,3.321667,19.916667,2.458333,10.822737,0.010559
81,160,23.890824,25.506826,104.694618,1.131080,145.143203,32.006374,10.652147,2.236554,60.217901,...,71.168133,1.950000,4.333333,139.166667,234.000000,3.936000,11.380000,2.458333,10.822737,0.010559
82,161,23.890824,24.000000,103.000000,1.050000,138.333333,28.666667,9.566667,2.820000,60.217901,...,60.000000,2.003448,3.746667,140.357143,500.000000,3.426552,16.755172,2.458333,10.822737,0.010559
83,162,23.890824,25.506826,104.694618,1.131080,145.143203,32.006374,10.652147,2.236554,60.217901,...,71.168133,1.900000,3.728571,140.600000,195.400000,4.030000,8.480000,2.458333,10.822737,0.010559
84,163,23.890824,23.000000,104.694618,1.131080,145.143203,32.006374,10.652147,2.200000,60.217901,...,71.168133,1.425000,5.025000,141.000000,401.000000,3.980000,19.333333,2.458333,10.822737,0.010559
85,164,23.890824,35.420290,104.694618,1.071000,114.000000,26.000000,8.600000,1.100000,67.697674,...,71.168133,1.896667,4.093750,138.535714,331.500000,3.075455,18.545455,2.458333,10.822737,0.010559
86,165,23.890824,28.000000,104.694618,1.131080,145.143203,32.006374,10.652147,2.350000,60.217901,...,24.000000,2.160000,3.956338,140.968750,154.654545,4.209245,6.535849,2.458333,10.822737,0.010559
87,166,23.890824,19.000000,104.694618,1.090000,145.143203,32.006374,10.652147,3.900000,60.217901,...,71.168133,2.033220,3.700000,142.000000,341.000000,3.980000,16.500000,2.458333,10.822737,0.010559
88,169,23.890824,27.000000,104.694618,1.144286,122.000000,34.500000,11.350000,1.500000,60.217901,...,71.168133,1.936364,4.546154,137.916667,243.833333,3.907000,11.640000,2.458333,10.822737,0.010559
89,170,23.890824,27.000000,104.694618,1.131080,145.143203,32.006374,10.652147,0.800000,45.000000,...,21.000000,1.800000,3.942857,140.714286,254.500000,3.937500,7.850000,2.458333,10.822737,0.010559
90,171,23.890824,23.000000,107.000000,1.131080,145.143203,32.006374,10.652147,2.250000,60.217901,...,21.000000,2.047059,3.954286,138.235294,301.108108,3.092162,7.910811,2.458333,10.822737,0.010559
91,172,28.000000,25.506826,106.000000,1.131080,126.000000,32.006374,10.652147,3.200000,60.217901,...,71.168133,1.700000,3.850000,139.500000,200.750000,4.452500,9.175000,2.458333,10.822737,0.010559
92,173,23.890824,25.777778,104.694618,1.200000,168.222222,32.714286,10.842857,2.236554,60.217901,...,71.168133,1.936364,4.253846,140.153846,234.416667,4.002727,11.690909,2.458333,10.822737,0.010559
93,174,23.890824,28.454545,104.694618,1.155000,145.143203,32.006374,10.652147,2.850000,31.666667,...,33.000000,1.983333,3.684211,144.300000,117.444444,3.276667,7.227778,2.458333,10.822737,0.010559
94,175,30.000000,39.153846,100.000000,1.060000,142.000000,32.006374,10.652147,2.050000,49.090909,...,35.000000,2.080645,3.898462,144.442623,172.283019,2.944808,7.200000,2.458333,10.822737,0.010559
95,177,23.890824,32.794118,104.694618,1.110000,145.143203,32.006374,10.652147,2.066667,55.588235,...,22.000000,1.892308,4.162319,136.365079,234.764706,3.571373,11.153846,2.458333,10.822737,0.010559
96,178,23.890824,28.666667,101.000000,1.057500,218.000000,26.000000,8.650000,4.650000,60.217901,...,71.168133,1.600000,4.020000,138.900000,130.300000,3.682500,7.575000,2.458333,10.822737,0.010559
97,179,23.890824,27.437500,104.694618,1.123750,112.428571,32.006374,10.652147,1.040000,66.250000,...,9.000000,2.138462,4.128571,140.846154,197.133333,3.910667,13.073333,2.458333,10.822737,0.010559
98,182,23.890824,24.500000,107.000000,0.957500,159.500000,23.000000,7.566667,1.866667,40.000000,...,71.168133,1.616667,4.016667,138.166667,232.555556,3.293333,9.744444,2.458333,10.822737,0.010559
99,183,23.890824,29.333333,111.000000,1.113333,109.750000,32.006374,10.652147,0.500000,60.217901,...,19.000000,1.700000,3.500000,147.500000,384.000000,3.243333,7.166667,2.458333,10.822737,0.010559

In [98]:
labfeatures.columns = ['SUBJECT_ID','CalculatedBicarbonate','TotalCO2','Chloride','FreeCalcium','Glucose','Hematocrit','Hemoglobin','Lactate','Oxygen','OxygenSaturation','PCO2','PH','PO2','Potassium','Sodium','Temperature','CalciumTotal','Centromere','Creatinine','Globulin','BloodGlucose','BloodLipase','BloodMagnesium','BloodPotassium','BloodSodium','PlateletCount','RedBloodCells','WhiteBloodCells','Plasma','Lymphocytes','Bacteria']

In [99]:
labfeatures.head()

,SUBJECT_ID,CalculatedBicarbonate,TotalCO2,Chloride,FreeCalcium,Glucose,Hematocrit,Hemoglobin,Lactate,Oxygen,...,BloodLipase,BloodMagnesium,BloodPotassium,BloodSodium,PlateletCount,RedBloodCells,WhiteBloodCells,Plasma,Lymphocytes,Bacteria
0,3,20.000000,19.844444,108.400000,1.090417,174.333333,30.173913,10.065217,2.841176,41.785714,...,37.000000,2.063636,4.316667,138.027027,260.031250,3.464687,12.584375,2.458333,10.822737,0.010559
1,4,23.890824,19.500000,104.694618,1.131080,100.000000,32.000000,10.500000,2.580000,40.000000,...,68.222222,1.823333,3.635417,133.750000,277.791667,3.396250,7.208333,2.458333,10.822737,0.010559
2,6,23.890824,21.200000,100.800000,1.150000,144.400000,27.400000,9.080000,2.640000,60.217901,...,71.168133,2.194444,4.906061,137.093750,362.514286,3.529143,12.191429,2.458333,10.822737,0.010559
3,9,23.890824,24.571429,103.000000,1.092857,167.500000,42.000000,14.000000,1.987500,57.272727,...,71.168133,2.287500,3.310000,134.300000,274.250000,4.503750,13.500000,2.458333,10.822737,0.010559
4,11,23.890824,25.000000,105.000000,1.090000,94.000000,35.000000,11.800000,1.500000,57.000000,...,71.168133,2.500000,3.907407,139.214286,233.437500,4.172813,8.868750,2.458333,10.822737,0.010559

In [100]:
labfeatures.to_csv('ProcessedLabFeatures.csv', index= False)

In [103]:
labfeatures.dtypes

SUBJECT_ID                 int64
CalculatedBicarbonate    float64
TotalCO2                 float64
Chloride                 float64
FreeCalcium              float64
Glucose                  float64
Hematocrit               float64
Hemoglobin               float64
Lactate                  float64
Oxygen                   float64
OxygenSaturation         float64
PCO2                     float64
PH                       float64
PO2                      float64
Potassium                float64
Sodium                   float64
Temperature              float64
CalciumTotal             float64
Centromere               float64
Creatinine               float64
Globulin                 float64
BloodGlucose             float64
BloodLipase              float64
BloodMagnesium           float64
BloodPotassium           float64
BloodSodium              float64
PlateletCount            float64
RedBloodCells            float64
WhiteBloodCells          float64
Plasma                   float64
Lymphocytes              float64
Bacteria                 float64
dtype: object

In [101]:
import seaborn as sns